:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

/* funcion que permite decirle que todos los que tengan _contenedor en el class pueden usar esto  */
[class$="_contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}


/* header */
.header{
    background-image:url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 10rem;
    padding: 5rem 0;
}

@media (min-width: 768px) {
    .header{
        background-size: 45rem;
    }
}

@media (min-width: 992px) {
    .header{
        background-size: 90rem;
    }
}

@media (min-width: 1300px) {
    .header{
        background-size: 130rem;
    }
}

@media (min-width: 768px) {
    .header_barra {
        display: flex;
        justify-content: space-between;
    }
}

.header_logo{
    width: 15rem;
    margin: 0 auto 3rem auto;
}

@media (min-width: 768px) {
    .header_logo{
        margin: 0;
    }
    .header_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
        align-items: center;
    }
    
}


.header_heading{
    font-size: 3rem;
    text-align: center;
}

@media (min-width: 768px) {
    .header_imagen{
        max-width: 30rem;
        margin: 0 auto;
    }

}

@media (min-width: 768px) {
    .header_heading{
        text-align: left;
        font-size: 5rem;
        line-height: 1.2;

    }
}


.header_boton{
    background-color: var(--primario);
    display: block; 
    padding: 2rem;
    text-align: center;
    color: var(--blanco);
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .header_boton{
        padding: 1rem 3rem;
        display: inline-block;
    }
}


/* Navegacion */

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 768px) {
    .navegacion{
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
}

.navegacion_link{
    color: var(--primario);
}



@media (min-width: 768px) {
    .navegacion_link{
        color: var(--blanco);
    }
}


/* seccion informacion */

.info{
    margin-top: 3rem;
}

.info_heading{
    text-align: center;
    margin-bottom: 5rem;
}

.info_grid{
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .info_grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5rem;
        align-items: center;
    }
}


/* listado  */

.listado_elemento{
    background-color: var(--blanco);
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);  /* horizontal, vertical, cuanto se extienda, que tan larga la sombra, color*/
    padding: 2rem;
    margin-bottom: 5rem;
    transition: transform .3s ease;
}

.listado_elemento:hover{
    transform: scale(1.1);
}

.listado_heading{
    font-size: 3rem;
    color: var(--primario);
    margin: 0;
}

.listado_texto{
    margin: 0;
    font-size: 2rem
}

/* Seguridad */

.seguridad{
    background-color: var(--primario);
    padding: 20rem 0;
    position: relative;
    margin: 10rem 0;
    overflow: hidden;
}

.seguridad::before,
.seguridad::after{
    background-color: var(--blanco);
    content: '';
    height: 20rem;
    width: 120%;
    position: absolute;
}

.seguridad::before{
    top: -10rem;
    left: 0; 
    transform: rotate(3deg);
}

.seguridad::after{
    bottom: -9rem;
    left: 0;
    transform: rotate(-3deg);

}


.seguridad_heading{
    color: var(--blanco);
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .seguridad_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 5rem;
        align-items: center;
    }
}


/* Comisiones */

.comisiones_heading{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .comisiones_grid{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 5rem;
        align-items: flex-end;
    }
}

@media (min-width: 998px) {
    .comisiones_grid{
        align-items: center;
    }
}

.comisiones_texto{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .comisiones_texto{
        text-align: left;
    }
}

@media (min-width: 768px) {
    .listado_elemento-2col{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}

.listado_numero{
    font-size: 6rem;
    color: var(--primario);
    margin: 0;
    font-weight: 900;
    text-align: center;
}

@media (min-width: 768px) {
    .listado_numero{
        flex-basis: 20rem;
        text-align: center;
        font-size: 4rem;
    }
}

/* testimoniales */

.testimoniales{
    background-color: var(--primario);
    padding: 5rem 0;
}

.testimoniales_heading{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
    color: var(--blanco);
}

.testimoniales_grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem
}

@media (min-width: 768px) {
    .testimoniales_grid{
        grid-template-columns: repeat(2,1fr);
    }
}

.testimonio{
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15); 
    background-color: var(--blanco);
    padding: 2rem;
    position: relative;
}

.testimonio_texto{
    padding-left: 4rem;
}

.testimonio_texto::before{
    position: absolute;
    content: '';
    background-image: url(../img/comilla.png);
    background-repeat: no-repeat;
    background-size: 3rem;
    background-position: center;
    width: 3rem;
    height: 3rem;
    top: 3rem;
    left: 2rem;
}

.testimonio_autor{
    color: var(--primario);
    text-align: right;
    font-weight: 700;
}

/* Footer */

.footer{
    background-color: #5a30a0;
    padding: 3rem 0;
}

.footer_logo{
    width: 20rem;
    margin: 0 auto 4rem auto;
}

.navegacion_link-blanco{
    color: var(--blanco);
}

@media (min-width: 768px) {
    .footer_logo{
        margin: 0;
    }
    .footer_grid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}













